@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome Kovai.co</h1>
    <p class="lead">Example .NET app to Azure App Service.</p>
</div>
